<ion-view ng-controller="CreateChallengeCtrl">
<ion-nav-title><img src="http://motiv.fr/img/motiv-app-logo.png"></ion-nav-title>
  <ion-content id="create-challenge">
  <ion-list ng-repeat="user in users">
  <ion-radio ng-model="choice" ng-value="'{{user.uid}}'" ng-click="pickUser('{{user.uid}}')">{{user.surname}}</ion-radio>
</ion-list>
<a ui-sref="challenge"><button class="button button-block button-positive" ng-click = "addChallenge()">
      Submit
  </button></a>
  </ion-content>
</ion-view>