<ion-view ng-controller="AuthCtrl" hide-nav-bar="true" class="register">
<ion-nav-title><img src="http://motiv.fr/img/motiv-app-logo.png"></ion-nav-title>
  <ion-content id="login">
  <div class="head-register">
  	<img src="http://motiv.fr/img/motiv-register-logo.png">
  </div>
  <div> 
	<div class="list">
	    <input type="text" placeholder="Email" name="email">
	    <input type="password" placeholder="Mot de passe" name="password">
	</div>
	<div class="inscription-button">
		<a ui-sref="createchallenge"><button class="inscription" ng-click="authUser()">
  		Se connecter
		</button></a>
	</div>
	</div>
  </ion-content>
	
  </ion-content>
</ion-view>