<ion-view view-title="login" ng-controller="AuthCtrl">
  <ion-content>
  <div> 
	<div class="list">
	  <label class="item item-input">
	    <span class="input-label">Email</span>
	    <input type="text" name="email">
	  </label>
	  <label class="item item-input">
	    <span class="input-label">Password</span>
	    <input type="password" name="password">
	  </label>
	</div>
	<button class="button button-block button-positive" ng-click="authUser()">
  		Loggin
	</button>
	</div>
  </ion-content>
</ion-view>