<ion-view hide-nav-bar="true" ng-controller="UserCtrl" class="register">
<ion-nav-title><img src="http://motiv.fr/img/motiv-app-logo.png"></ion-nav-title>
  <ion-content id="registration">
  <div class="head-register">
  	<img src="http://motiv.fr/img/motiv-register-logo.png">
  </div>
	<div class="list">
	    <input type="text" placeholder="Nom" name="surname">
	    <input type="text" name="email" placeholder="Email">
	    <input type="password" placeholder="Mot de passe" name="password">
	</div>
	<div class="inscription-button">
		<button class="inscription" ng-click="addUser()">
  			Inscription
		</button>
	</div>
	<div id="has-account">
		<span>Vous avez déjà un compte ?</span>
		<a ui-sref="login" id="connexion">Connexion</a>
	</div>
	
  </ion-content>
</ion-view>